.snippet_testimonial{

    

    section .snippet_testimonial{
        background-color: lightblue;
    }
      
}


footer{
    border-top:50px solid theme-color('primary') 
}
.row{
}

.s_testimonial {
    border: 1px solid #EAEAEA;
    padding: 20px;
}

